.user-stories {
    width: 25%;
    height: 94%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stories-container {
    padding-top: 2vw;
    height: 100%;
    margin-bottom: -20vmax;
}

.user-stories ul {
    list-style: none; /* Remove default list bullets */
    padding: 0.1vmax;
    max-height: 65%;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    z-index: 2;
    /* background-color: coral; */
    background-image: url("/public/assets/user-stories-background.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 55%;
    height: 100%;
}

.stories-container li {
    margin: 0.4vw 0vw 0.8vw 6vw;
    text-align: left;
    margin-bottom: 1.8vw;
    padding: 1px 1px;
    font-size: 1.3vw;
    color: rgb(65, 65, 53);
}

.stories-container .heart-bullet {
    padding-left: 2vw;
    margin-top: 7px
}

.stories-container .heart-bullet::before {
    content: "";
    left: 0.5vw;
    transform: translateY(-50%);
    width: 3vw;
    height: 3vw;
    background-image: url("/public/assets/UI/heart.gif");
    background-size: contain;
}

/* DEAD HEART */
.stories-container .heart-bullet::before {
    content: "";
    left: 2vw;
    transform: translateY(-35%);
    width: 3vw;
    height: 3vw;
    background-image: url("/public/assets/UI/heart-dead.png"), url("/public/assets/UI/dead-veins.png");
    background-position: right, left;
    background-size: contain, 100% 100%;
    background-repeat: no-repeat;
    /* background-color: red; */
}

/* USER STORIES PROGRESS BAR */
.bar {
    position: absolute;
    right: 23%;
    bottom: 2.5vh;
    width: 4.5vw;
    height: 79%;
    /* background-color: cyan; */
    z-index: 50;
    background-image: url(/public/assets/question-bar.png);
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.stories-bar-interior {
    background-image: url(/public/assets/UI/question-bar-background.png);
    background-position: center;
    background-size: 100% 120%;
    background-repeat: no-repeat;
    /* background-color: red; */
    width: 58%;
    height: 84%;
    border-radius: 10px 10px 50px 50px;
    margin-bottom: 2.2vmax;
}

.score {
    margin-top: 15.5vh;
    /* background-color: yellowgreen; */
    background-image: url(/public/assets/horizontal-small-frame.png);
    background-position: center;
    background-size: 100% 100%;
    color: black;
    z-index: 900;
    height: 6.5vw;
    width: 11vw;
    margin-left: -4.5vmax;
    font-size: 1.5vmax;
    position: absolute;
    color: rgb(54, 38, 38);
    text-shadow: 1px 1px 2px rgba(36, 23, 23, 0.3), -1px -1px 2px rgba(100, 50, 50, 0.3), 0 0 5px rgba(100, 50, 50, 0.2);
}