.user-stories {
  width: 18%;
  height: 100%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stories-container {
    padding-top: 2vw;
    background-color: gray;
}

ul {
  list-style: none; /* Remove default list bullets */
  padding: 0;
  margin-bottom: -2vh;
  max-height: 70%;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width:none;
    z-index: 2;

}

/* li {
  margin: 0.4vw 0vw 0.8vw 3.5vw;
  text-align: left;
  margin-bottom: 1vw;
  padding: 1px 1px;
  font-size: 1.5vw;
} */

/* .heart-bullet {
  position: absolute;
  padding-left: 2vw;
  margin-top: 7px
}

.heart-bullet::before {
  content: "";
  position: absolute;
  left: 0.5vw;
  transform: translateY(-40%);
  width: 3vw;
  height: 3vw;
  background-image: url("/public/assets/UI/heart.gif");
  background-size: contain;
} */

/* DEAD HEART */
/* .heart-bullet::before {
    content: "";
    position: absolute;
    left: 1.6vw;
    transform: translateY(-40%);
    width: 3vw;
    height: 3vw;
    background-image: url("/public/assets/UI/heart-dead.png");
    background-size: contain;
    background-repeat: no-repeat;
  } */

/* USER STORIES PROGRESS BAR */
.bar {
    position: absolute;
    right: 30%;
    bottom: 6vh;
    width: 2vw;
    height: 75%;
    background-color: cyan;
    z-index: 50;
}

.score {
    margin-top: 16vh;
    background-color: yellowgreen;
    color: black;
    z-index: 900;
    height: 4vw;
    width: 8vw;
}