/* src/Home.css */
html {
  cursor: url('/public/assets/cursors/cursor-default.png') 16 16, default;
}

@font-face {
  font-family: 'BlackwoodCastle';
  src: url('/public/assets/fonts/BlackwoodCastle.TTF') format('truetype');
}
.App {
  font-family: 'BlackwoodCastle', sans-serif;
  background-image: url(/public/assets/ground.png);
  background-attachment: fixed; 
  background-size: 100% 50%; 
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: black;
}

textarea {
  width: 90%;
  height: 150px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'BlackwoodCastle', sans-serif;
}

pre {
  background-color: #f1f1f1;
  padding: 10px;
  white-space: pre-wrap;
  text-align: left;
}

/* DEFAULT CLASSES */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* --------------------------- INDEX ------------------------------------- */

.header-space {
  width: 100%;
  height: 6vw;
}

header {
  height: 10vw;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: fixed;
  z-index: 100;
  margin-top: 1vw;
}

.header-container {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: blue; */
  margin: 0 auto;
}

/* MENU */

/* PET */

.pet-static.home-egg {
  animation: shake 2s ease-in-out infinite;
  position: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: center bottom;
  transform: scaleX(-1);
  height: 12vw;
  width: 13vw;
  /* background-color: red; */
  z-index: 900;
  left: 5vw;
  top: 70vh;
}

.pet-static.home-hatched {
  animation: breathe 2s ease-in-out infinite;
  position: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  height: 12vw;
  width: 13vw;
  /* background-color: red; */
  z-index: 900;
  left: 5vw;
  top: 70vh;
}
@keyframes breathe {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.03);
  }
}

@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(-1deg); }
  50% { transform: rotate(2deg); }
  75% { transform: rotate(-1deg); }
  100% { transform: rotate(0); }
}

.pet-looker {
  position: fixed;
  background-image: url(/public/assets/pets/axolotl-1.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 12vmax;
  width: 15%;
  /* background-color: red; */
  z-index: 999;
  left: 8vw;
  top: 35vmax;
  transform: scaleX(-1); /* Refleja el elemento horizontalmente */
}

@keyframes pulseMove {
  0% {
    transform-origin: bottom;
    transform: translateX(0) scaleY(0.9); /* Posición inicial */
  }
  20% {
    transform-origin: bottom;
    transform: translateX(0.5vw) scaleY(0.9); /* Se mueve un poco a la derecha */
  }
  40% {
    transform-origin: bottom;
    transform: translateX(0vw) scaleY(0.9); /* Vuelve a la posición inicial */
  }
  60% {
    transform-origin: bottom;
    transform: translateX(0.5vw) scaleY(0.9); /* Se mueve otra vez a la derecha */
  }
  80% {
    transform-origin: bottom;
    transform: translateX(0vw) scaleY(0.9); /* Vuelve a la posición inicial */
  }
  100% {
    transform-origin: bottom;
    transform: translateX(-400px) scaleY(0.9); /* Se desplaza 600px hacia la izquierda */
  }
}


.pet-looker:hover {
  transform: scaleX(1); /* Refleja el elemento horizontalmente */
  animation: pulseMove 0.8s linear 1; /* Aplica la animación una sola vez */
}












