/* src/Home.css */
@font-face {
  font-family: 'BlackwoodCastle';
  src: url('/public/assets/fonts/BlackwoodCastle.TTF') format('truetype');
}
.App {
  font-family: 'BlackwoodCastle', sans-serif;
  background-image: url(/public/assets/ground.png);
  background-attachment: fixed; 
  background-size: 100% 50%; 
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: black;
}

textarea {
  width: 90%;
  height: 150px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'BlackwoodCastle', sans-serif;
}

pre {
  background-color: #f1f1f1;
  padding: 10px;
  white-space: pre-wrap;
  text-align: left;
}

/* DEFAULT CLASSES */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* --------------------------- INDEX ------------------------------------- */

.header-space {
  width: 100%;
  height: 6vw;
}

header {
  height: 10vw;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: fixed;
  z-index: 100;
  margin-top: 1vw;
}

.header-container {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: blue; */
  margin: 0 auto;
}

/* MENU */

/* PET */
.pet-looker {
  position: fixed;
  background-image: url(/public/assets/pets/axolotl-1.gif);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 12vmax;
  width: 15%;
  /* background-color: red; */
  z-index: 999;
  left: 8vw;
  top: 35vmax;
  transform: scaleX(-1); /* Refleja el elemento horizontalmente */
}

@keyframes pulseMove {
  0% {
    transform: scaleX(1) scaleY(1) translateX(0); /* Tamaño original y posición inicial */
  }
  25% {
    transform: scaleX(1) scaleY(0.95) translateX(-4vw); /* Se achica un 5% en Y y se mueve hacia la izquierda */
  }
  50% {
    transform: scaleX(1) scaleY(1) translateX(4vw); /* Tamaño original y se mueve hacia la derecha */
  }
  75% {
    transform: scaleX(1) scaleY(0.95) translateX(-4vw); /* Se achica un 5% en Y y se mueve hacia la izquierda */
  }
  100% {
    transform: scaleX(1) scaleY(1) translateX(0); /* Tamaño original y posición inicial */
  }
}

.pet-looker:hover {
  transform: scaleX(1); /* Refleja el elemento horizontalmente */
  animation: pulseMove 0.8s infinite; /* Aplica la animación */
}












