/* COURSES */
.course {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 3vw;
    background-image: url('/public/assets/course-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vmax;
}

.course-container {
    position: relative;
    width: 90%;
    height: 80%;
    /* background-color: rgba(0.5, 0.5, 0.5, 0.5); */
    padding: 4vmax;
}

/* CORNERS */

.corners {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(100, 234, 60, 0.5); */
    z-index: 9;
}

.corner-1,
.corner-2,
.corner-3,
.corner-4 {
    position: absolute;
    width: 10vmax;
    height: 10vmax;
    background-image: url('/public/assets/corner.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: red; */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.corner-1 {
    transform: rotate(180deg);
}

.corner-2 {
    right: 0;
    transform: rotate(270deg);
}

.corner-3 {
    bottom: 0;
    transform: rotate(90deg);
}

.corner-4 {
    bottom: 0;
    right: 0;
    transform: rotate(0deg);
}

/* END CORNERS */

h1 {
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    font-size: 3vw;
}

/* COURSE DESCRIPTION */

.course-description {
    width: 100%;
    padding: 1vmax 0;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.levels {
    width: 100%;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
}

.course-description span {
    font-size: 1.8vw;
}

ul {
    list-style: none; /* Remove default list bullets */
    padding: 0;
}

li {
    margin: 1vw 0vw 0.8vw 3.5vw;
}

.heart-bullet {
    position: relative;
    padding-left: 1.5vw; /* Adjust based on the size of the bullet */
}

.heart-bullet::before {
    content: '';
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-30%);
    width: 2.5vw;
    height: 2vw;
    background-image: url('/public/assets/UI/heart.gif');
    background-size: contain;
}

/* END COURSE DESCRIPTION */

.level {
    width: 3vw;
    height: 5vw;
    margin: 0.4vw 0.95vw;
    /* background-color: lightcoral; */
    cursor: pointer;
    transition: all 200ms ease-in-out;
    background-image: url(/public/assets/UI/heart-dead.png);
    color: white;
    z-index: 99;
}

.level span {
    margin-top: 2.2vw;
    margin-left: 0.4vw;
}

.level:hover {
    scale: 110%;
}