/* src/Home.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

/* DEFAULT CLASSES */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* CourseLevel */

.container {
  margin: 0 auto;
  margin-top: 4vh;
  width: 95vw;
  height: 92vh;
  background-color: lightgoldenrodyellow;
  justify-content: space-between;
}

.code-container {
  width: 40%;
  height: 100%;
  background-color: black;
  justify-content: flex-end;
}

.img-output {
  width: 35%;
  height: 65%;
  background-color: black;
}

.user-stories {
  width: 15%;
  height: 90%;
  background-color: pink;
}

/* END CourseLevel */

/* CodeEditor */

form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  background-image: url(/public/assets/coding-area.png);

  background-color: lightsalmon;

  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.code-area {
  width: 100%;
  height: 100%;
}

textarea {
  width: 63%;
  height: 68%;
  margin: 0;
  background-color: transparent;
  color: black;
  /* border: none; */
}

.compile-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

pre {
  background-color: #f1f1f1;
  padding: 10px;
  white-space: pre-wrap;
  text-align: left;
}

/* END CodeEditor */

/* OUTPUT */

.output {
  height: 15%;
  width: 100%;
  background-color: blue;
}

/* END OUTPUT */

/* --------------------------- CODE ------------------------------------- */



/* --------------------------- END CODE ------------------------------------- */

/* --------------------------- INDEX ------------------------------------- */

header {
  height: 10vw;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: fixed;
  z-index: 100;
}

.header-container {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
}

/* MENU */

.menu-options {
  width: 20%;
  height: 70%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
}

.menu-options div {
  cursor: pointer;
}

/* END-MENU */

/* HUD */

.hud {
  width: 30%;
  height: 100%;
  /* background-color: aquamarine; */
  justify-content: flex-end;
}

.level-bar {
  right: 5%;
  top: 25%;
  position: absolute;
  width: 25%;
  height: 30%;
  background-color: burlywood;
}

.data {
  position: relative;
  width: 30%;
  height: 100%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pp {
  height: 80%;
  width: 100%;
  background-color: rgb(65, 31, 31);
  border-radius: 50%;
  color: white;
}

.heart {
  position: absolute;
  top: 60%;
  width: 60%;
  height: 60%;
  background-image: url('/public/assets/UI/heart.gif');
  color: white;
}

.heart span {
  margin-top: 20%;
}

/* END HUD */