/* OUTPUT */

.output {
    height: 20%;
    width: 100%;
    /* background-color: blue; */
}

pre {
    height: 80%;
    width: 50%;
    padding: 0;
    margin: 0;
    /* background-color: aquamarine; */
    background-color: transparent;
}

/* END OUTPUT */
