/* OUTPUT */

.output {
    height: 15%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0.5vmax;
}

pre {
    height: 66%;
    width: 50%;
    padding: 0;
    margin: 0px;
    /*background-color: aquamarine;*/
    background-color: transparent;
}

/* END OUTPUT */
