.popup {
    background-image: url(/public/assets/support-background.png);
}

.support-content {
    width: 45vw;
    height: 53vh;
    /* background-color: rgba(0.5, 0.5, 0.5, 0.5); */
    margin: 26vh 28vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    
    
    
}

.support-text {
    width: 100%;
    height: 25%;
    /* background-color: blue; */
    
    
    
}

.support-text h2 {
    width: 45%;
    height: 10%;
    /* background-color: white; */
    font-size: 2vmax;
    margin-top: 1vw;
}

.support-text p {
    width: 70%;
    margin-left: 7vw;
    /* background-color: pink; */
    text-align: left;
    font-size: 1vw;
    margin-top: 1vw;
    
    
    
}

.support-text-area {
    width: 65%;
    height: 32%;
    margin: 0;
    padding: 1vmax;
    margin: 0 auto;
    resize: none;
    /* background-color: white; */
    
    
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    font-style: italic;
  }
  

.support-message {
    /* background-color: rgba(0.5, 0.5, 0.5, 0.5); */
    width: 100%;
    height: 100%;
    border: none;
}

.support-submit {
    height: 35%;
    width: 75%;
    /* background-color: pink; */
    
}

.submit-btn {
    transition: all 500ms ease-in-out;
    background-image: url(/public/assets/UI/button.png);
    background-color: transparent;
    border: none;
    width: 13vw;
    height: 12vh;
}

.submit-btn:hover {
    scale: 105%;
    cursor: pointer;
    
}