/* html {
  overflow: hidden;
} */

.avatar-selection-screen h1 {
  width: 40%;
  height: 9%;
  /* background-color: lightblue; */
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 3vw;
  background-image: url(/public/assets/ornament.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color:rgb(234, 233, 208);
  font-weight: lighter;

}



.avatar-selection-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  /* background-image: url(/public/assets/backgrounds/pet-select-background.gif); */
  background-image: url(/public/assets/avatar-selection-background.png);
  background-size: 210%;
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  animation: travel 120s linear infinite;
}

@keyframes travel {
            0% {
                background-position: 0 0;
            }
            50% {
                background-position: 100% 0;
            }
            100% {
              background-position: 0 0;
            }
        }

.avatar-list {
  margin-top: 0.5vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: lightcoral; */
  width: 85%;
  height: 70%;
}

.avatar-item {
  width: 70%;
  height: 100%;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-image: url(/public/assets/pet-selection.png);
  background-position: center;
  /* background-color: red; */
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(-1deg); }
  50% { transform: rotate(2deg); }
  75% { transform: rotate(-1deg); }
  100% { transform: rotate(0); }
}

.avatar-item img {
  width: 45%;
  height: 55%;
  filter: brightness(0);
  transition: all 500ms ease-in-out;
  animation: shake 2s ease-in-out infinite;
  transform-origin: bottom center;
}

.avatar-item:hover {
  transform: scale(1.05);
  img {
    filter:brightness(1);
  }
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-selection-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}