.library-popup {
    position: absolute;
    top: -2vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: 65% !important;
    background-color: rgba(32, 39, 31, 0.95);
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.library-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(/public/assets/frames/biggest-frame-clean.png);
    background-size: 95% 95%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.library-h2 {
    font-size: 2.2vmax;
    margin: 0;
    position: absolute;
    top: 8%;
    margin: 0 auto;
    text-align: center;
    background-color: purple;
}

.library-h3 {
    font-size: 3vmax;
    color: rgb(82, 70, 56);
    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}


.library-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 75%;
    /* background-color: lightblue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.index-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 80%;
    /* background-color: lightcoral; */
    margin-bottom: 3vh;
}

.btn-library {
    width: 100%;
    height: 4.5vmax;
    font-size: 3vh; 
    color: #000000;
    background-image: url(/public/assets/UI/menu-option.png);
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    transition: all 300ms ease-in-out;
    background-color: transparent;
    /* background-color: red; */
    color: rgb(74, 78, 65);
}

.btn-library:hover {
    transform: scale(1.03); 
    filter:sepia(0.25)
}

.close-btn-library {
    width: 7vw;
    height: 10vw;
    position: absolute;
    right: 6.5vw;
    top: 4.5vh;
    background-image: url(/public/assets/UI/close-button.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transition: all 300ms ease-in-out;
}

.close-btn-library:hover {
    background-image: url(/public/assets/UI/close-button-active.png);
    scale: 103%;
    cursor: pointer;
}

.center-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(/public/assets/evolution-map.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
