.evolutionMap-popup {
    position: absolute;
    top: -2vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: 65% !important;
    background-color: rgba(32, 39, 31, 0.95);
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.evolutionMap-content {
    width: 85%;
    height: 90%;
    /* background-color: black; */
    background-image: url(/public/assets/evolution-map.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: end;
}


