/* IMAGES TERRESTRIAL*/
#evo-pet-0 {
    background-image: url(/public/assets/eggs/egg-terrestrial.png);
    background-size: 20%;
    animation-delay: 0s;
    animation: shake 2s ease-in-out infinite;
    filter: brightness(1);
}

#evo-pet-1 {
    background-image: url(/public/assets/pets/evolutions/terrestrial/1.png);
    background-size: 35%;
    animation-delay: 4s;
    background-position: center 7vmax;
    filter: brightness(1);
}

#evo-pet-2 {
    background-image: url(/public/assets/pets/evolutions/terrestrial/2.png);
    background-size: 40%;
    animation-delay: 0.2s;
}

#evo-pet-3 {
    background-image: url(/public/assets/pets/evolutions/terrestrial/3.png);
    background-size: 65%;
    animation-delay: 0.5s;
}

#evo-pet-4 {
    background-image: url(/public/assets/pets/evolutions/terrestrial/4.png);
    background-size: 55%;
    animation-delay: 0.3s;
}

#evo-pet-5 {
    background-image: url(/public/assets/pets/evolutions/terrestrial/5.png);
    background-size: 70%;
    animation-delay: 0.8s;
}

#evo-pet-6 {
    background-image: url(/public/assets/pets/evolutions/terrestrial/6.png);
    background-size: 60%;
    animation-delay: 0.4s;
}

#evo-pet-7 {
    background-image: url(/public/assets/pets/evolutions/terrestrial/7.png);
    background-size: 70%;
    animation-delay: 0s;
}

#evo-pet-8 {
    background-image: url(/public/assets/pets/evolutions/terrestrial/8.png);
    background-size: 73%;
    animation-delay: 0.2s;
}

#evo-pet-9 {
    background-image: url(/public/assets/pets/evolutions/terrestrial/9.png);
    background-size: 55%;
    animation-delay: 0.5s;
}

#evo-pet-10 {
    background-image: url(/public/assets/pets/evolutions/terrestrial/10.png);
    background-size: 75%;
    animation-delay: 0.9s;
}

#evo-pet-11 {
    background-image: url(/public/assets/pets/evolutions/terrestrial/11.png);
    background-size: 100% 73%;
    animation-delay: 0.1s;
}

#evo-pet-12 {
    background-image: url(/public/assets/pets/evolutions/terrestrial/12.png);
    background-size: 110%;
    animation-delay: 0.8s;
}

