/* OUTPUT */

.output {
    height: 70vh;
    width: 50vh;
     /* background-color: blue; */
     background-image: url(/public/assets/output-bugs.png);
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    right: 33%;
    position: absolute;
    z-index: 5;
}

.output .delete {
    width: 100%;
    height: 100%;
    background-image: url(/public/assets/bugs/bug-delete.png);
    background-position: center;
    background-size: 90% 70%;
    background-repeat: no-repeat;
}

.output .add {
    width: 100%;
    height: 100%;
    background-image: url(/public/assets/bugs/bug-add.png);
    background-position: center;
    background-size: 100% 90%;
    background-repeat: no-repeat;
}

.output .eddit {
    width: 100%;
    height: 100%;
    background-image: url(/public/assets/bugs/bug-edit.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@keyframes bugWalk {
    0% {
      transform: translateY(0) scaleY(1);
    }
    25% {
      transform: translateY(3px) scaleY(1.03);
    }
    50% {
      transform: translateY(6px) scaleY(1);
    }
    75% {
      transform: translateY(3px) scaleY(0.98);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }

.bug-slot-1,
.bug-slot-2,
.bug-slot-3,
.bug-slot-4,
.bug-slot-5,
.bug-slot-6,
.bug-slot-7,
.bug-slot-8 {
    width: 20%;
    height: 18%;

    animation: bugWalk 6s linear infinite;
}

.bug-slot-1 {
    position: absolute;
    left: 0%;
    top: 10%;
    /* background-color: red; */
    rotate: -145deg;
}

.bug-slot-2 {
    position: absolute;
    right: 2%;
    top: 15%;
    rotate: -20deg;
    /* background-color: blueviolet; */
}

.bug-slot-3 {
    position: absolute;
    /* background-color: grey; */
    right: 8%;
    top: 35%;
    rotate: -125deg;
    width: 17%;
    height: 14%;
}

.bug-slot-4 {
    position: absolute;
    /* background-color: yellowgreen; */
    right: 0%;
    bottom: 28%;
    rotate: -35deg;
}

.bug-slot-5 {
    position: absolute;
    /* background-color: brown; */
    right: 7%;
    bottom: 10%;
    rotate: -140deg;
    width: 17%;
    height: 14%;
}

.bug-slot-6 {
    position: absolute;
    /* background-color: beige; */
    right: 40%;
    bottom: 3%;
    rotate: -35deg;
}

.bug-slot-7 {
    position: absolute;
    /* background-color: white; */
    left: 4%;
    bottom: 12%;
    rotate: 35deg;
    width: 23%;
    height: 20%;
}

.bug-slot-8 {
    position: absolute;
    /* background-color: darkgoldenrod; */
    left: 40%;
    top: -3%;
    rotate: 30deg;
    width: 25%;
    height: 22%;
}


pre {
    height: 60%;
    width: 65%;
    padding: 0;
    margin: 0px;
    background-color: transparent;
    /* background-color: aquamarine; */
    overflow: scroll;
    scrollbar-color: transparent;
    scrollbar-width: none;
    color: white;
}

/* END OUTPUT */
