/* CodeEditor */

form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-image: url(/public/assets/coding-area.png);

    background-color: lightsalmon;

    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.code-area {
    width: 100%;
    height: 100%;
}

textarea {
    width: 63%;
    height: 68%;
    margin: 0;
    background-color: transparent;
    color: black;
    /* border: none; */
}

.compile-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

pre {
    background-color: #f1f1f1;
    padding: 10px;
    white-space: pre-wrap;
    text-align: left;
}

/* END CodeEditor */