/* CodeEditor */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14%;
    margin-right: 2.5vw;
    font-size: large;
    /* background-color: red; */
}

.arrows {
    position: absolute;
    top: 45%;
    width: 32%;
    height: 10%;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 5%;
    height: 60%;
    background-color: red;
    cursor: pointer;
}

form {
    width: 100%;
    height: 70%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    background-image: url(/public/assets/coding-area.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 20%;
    z-index: 5;
}

.code-area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

textarea {
    width: 63%;
    height: 68%;
    margin: 0;
    background-color: transparent;
}

textarea:focus {
    outline: none;
}

.compile-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 2vw;
    /* background-color: pink; */
    height: 13%;
    font-size: small;
}

pre {
    /* background-color: #f1f1f1; */
    padding: 10px;
    white-space: pre-wrap;
    text-align: left;
}

.container {
    width: 96vw;
    height: 100vh;
    justify-content: space-between;
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.code-container {
    background-image: url(/public/assets/output-area.png);
    width: 40%;
    height: 94%;
    background-position: center 33.9vmax;
    background-size: 80% 22%;
    background-repeat: no-repeat;
}

/* END CodeEditor */