/* CodeEditor */

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14%;
    margin-right: 2.5vw;
    font-size:large;
    /* background-color: red; */
}

.arrows {
    position: absolute;
    top: 45%;
    width: 32%;
    height: 10%;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 5%;
    height: 60%;
    background-color: red;
    cursor: pointer;
}

form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-image: url(/public/assets/coding-area.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.code-area {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

textarea {
    width: 63%;
    height: 68%;
    margin: 0;
    background-color: transparent;
}

textarea:focus {
    outline: none;
}

.compile-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 2vw;
    /* background-color: pink; */
    height: 13%;
    font-size: small;
}

pre {
    background-color: #f1f1f1;
    padding: 10px;
    white-space: pre-wrap;
    text-align: left;
}

.container {
    margin: 0 auto;
    margin-top: 4vh;
    width: 95vw;
    height: 92vh;
    background-color: lightgoldenrodyellow;
    justify-content: space-between;
  }
  
  .code-container {
    width: 40%;
    height: 100%;
    background-image: url(/public/assets/output-area.png);
    background-position: bottom;
    background-size: 80% 30%;
    background-repeat: no-repeat;
    justify-content: flex-end;
  }

/* END CodeEditor */