.instructions{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 14vw;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    display: flex;
}


.instructions-container {
    width: 65%;
    height: 60%;
    /* background-color: red; */
    margin-bottom: 3vmax;
    display: flex;
    /* border: 2px solid white; */
}

.instructions-text {
    color: rgb(226, 219, 209);
    font-size: 1.5vmax;
    text-align: center;
    text-shadow: 3px 3px 5px black, -3px -3px 5px rgb(66, 79, 39), 0 0 30px rgba(0, 0, 0, 1);
    font-weight: lighter;
    letter-spacing: 0.05vmax;
    width: 80%;
}

.instructions-opener,
.instructions-closer {
    width: 10%;
    height: 70%;
    /* background-color: lightpink; */
    background-image: url(/public/assets/item-container.png);
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions-opener {
    margin-left: 2vmax;
    transform: rotate(90deg);
}

.instructions-orb {
    width: 45%;
    height: 45%;
    margin-bottom: -1vmax;
    /* background-color: aliceblue; */
    background-size: contain;
    transform-origin: center;
    background-position: center;
    background-repeat: no-repeat;
    animation: spin 30s linear infinite, subtle-glow 5s ease-in-out infinite;
}

.instructions-orb.aquatic{
    background-image: url(/public/assets/orbs/orb-aquatic.png);
}

.instructions-orb.aerial{
    background-image: url(/public/assets/orbs/orb-aerial.png);
}

.instructions-orb.terrestrial{
    background-image: url(/public/assets/orbs/orb-terrestrial.png);
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes subtle-glow {
    0%, 100% {
      filter: drop-shadow(0 0 5px rgba(227, 230, 219, 0.9));
    }
    50% {
      filter: drop-shadow(0 0 15px rgba(116, 118, 94, 0.9));
    }
  }
  
  