.preview {
    width: 25%;
    height: 100%;
    /* background-color: blue; */
  }

.hatched {
    animation: breathe 3s ease-in-out infinite;
    width: 25%;
    height: 50%;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: bottom;
}

@keyframes breathe {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.04);
    }
}