h2 {
    font-size: small;
}

.calendar-popup {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -2vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: 55% !important;
    background-color: rgba(32, 39, 31, 0.95);
    background-image: url(/public/assets/coding-area.png);
}

.calendar {
    background-color: rgb(27, 172, 177);
    background-image: url(/public/assets/level-description-background.png);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 34vw; /* Ajusta el tamaño del contenedor principal */
    height: 50vh; /* Ajusta el tamaño del contenedor principal */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3vmax 1vmax;
}

.week-days {
    background-color: rgb(217, 250, 33);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-container {
    background-image: url(/public/assets/day-container.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: blue;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: flex;
    flex-direction: column;
    gap: 3%; /* Espacio entre filas */
    width: 95%;
    height: 80%;
}

.row {
    display: flex;
    gap: 3%; /* Espacio entre columnas */
    width: 100%;
    height: 80%;
}

.day {
    background-color: black;
    width: 20%; 
    height: 100%; 
}

.close-btn {
    width: 7vw;
    height: 10vw;
    position: absolute;
    right: 23vw;
    top: 8vh;
    background-image: url(/public/assets/UI/close-button.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transition: all 300ms ease-in-out;
}

.close-btn:hover {
    background-image: url(/public/assets/UI/close-button-active.png);
    scale: 103%;
    cursor: pointer;
}

.arrows-calendar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 44%;
    width: 100%;
}

.arrow-calendar {
    width: 4vw; /* Ajusta el tamaño de las flechas según sea necesario */
    height: 12vh;
    background-color: black; /* Cambia esto para que coincida con tus flechas */
    margin: 0 19%;
}

/* Estilos específicos para las flechas */
.arr-1-calendar {
    /* Estilos específicos para la flecha arr-1 */
}

.arr-2-calendar {
    /* Estilos específicos para la flecha arr-2 */
}