@font-face {
    font-family: 'Vivaldi';
    src: url('/public/assets/fonts/vivaldi-regular.ttf') format('truetype');
}

.custom-font {
    font-family: 'Vivaldi', serif;
}

.calendar-text {
    display: flex;
    position: relative;
    width: 2%;
    height: 2%;
    bottom: 37.3%;
    left: 16.5%;
    font-size: 2vmax;
}

.month-text {
    display: flex;
    position: relative;
    width: 2%;
    height: 2%;
    top: 34.5%;
    left: 16.25%;
    font-size: 2vmax;
}

.calendar-popup {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -2vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: 55% !important;
    background-color: rgba(32, 39, 31, 0.95);
    background-image: url(/public/assets/coding-area.png);
}

.calendar {
    /* background-color: aqua; */
    background-image: url(/public/assets/level-description-background.png);
    background-size: 100% 75%;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 35vw; /* Ajusta el tamaño del contenedor principal */
    height: 55vh; /* Ajusta el tamaño del contenedor principal */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 4.4%;
}

.week-days {
    width: 90%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vmax;
}

.day-container {
    background-image: url(/public/assets/day-container.png);
    background-size: 120% 110%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Vivaldi', serif;
    font-size: 1.3vmax;
    font-weight: bolder;
    padding-right: 0.3vmax;
}


.grid {
    /* background-color: rgb(0, 255, 42); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 88%;
    height: 60%;
    margin-bottom: 2.2vmax;
}

.day {
    background-color: black;
    width: 13.5%; /* Ajusta el tamaño de cada casilla */
    height: 18%; /* Ajusta el tamaño de cada casilla */
    display: flex;
    flex-direction: column;
    font-size: large;
}

.date {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2%;
    margin-right: 7%;
    color: wheat;
}

.exercise {
    color: wheat;
}

.close-btn-calendar {
    width: 7vw;
    height: 10vw;
    position: absolute;
    right: 23vw;
    top: 8vh;
    background-image: url(/public/assets/UI/close-button.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transition: all 300ms ease-in-out;
}

.close-btn-calendar:hover {
    background-image: url(/public/assets/UI/close-button-active.png);
    scale: 103%;
    cursor: pointer;
}

.arrows-calendar {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 44%;
    width: 100%;
}

.arrow-calendar {
    width: 4vw;
    height: 12vh;
    background-image: url(/public/assets/UI/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 19%;
    cursor: pointer;
}

.arr-2-calendar {
    transform: rotate(180deg);
}


