.class1Sub1-h2 {
    font-size: 2.2vmax;
    margin-bottom: 42%;
    margin-left: 1.5%;
}

.class1Sub1-description-p {
    font-size: 2.5vmax;
    margin-left: 15%;
    padding: 0;
    width: 80%;
    text-align: justify;
    line-height: 1.2;
}

.class1Sub1-popup {
    position: absolute;
    top: -2vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-position: center;
}

.class1Sub1-content {
    position: absolute;
    top: 2vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.class1Sub1-content1 {
    position: absolute;
    top: 13%;
    left: 8%;
    height: 75%;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text-content {
    width: 63%;
    height: 100%;
    background-position: center;
}

.giph-content {
    width: 37%;
    height: 100%;
    display: flex;
    align-items: center;
}

.giph {
    width: 75%;
    height: 87%;
    margin-top: 6%;
    margin-left: 2%;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex; 
}

.arrows-class1Sub1 {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 353vw;
    margin-right: 1.1%;
    margin-top: 1.3%;
}

.arrow-left-class1Sub1 {
    width: 4vw;
    height: 15vh;
    background-image: url(/public/assets/arrows/left-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10.6%;
    cursor: pointer; 
}

.arrow-right-class1Sub1 {
    transform: rotate(180deg);
}

.arrow-left-class1Sub1:hover {
    background-image: url(/public/assets/arrows/left-arrow.png);
    scale: 110%;
    cursor: pointer;
}

.close-btn-class1Sub1 {
   width: 7vw;
   height: 10vw;
   position: absolute;
   right: -0.5vw;
   top: -8.6vh;
   background-image: url(/public/assets/UI/close-button.png);
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   background-color: transparent;
   border: none;
   transition: all 300ms ease-in-out;
}

.close-btn-class1Sub1:hover {
    background-image: url(/public/assets/UI/close-button-active.png);
    scale: 103%;
    cursor: pointer;
}

/* Clases para los estados */
.class1 {
    background-color: rgba(32, 39, 31, 0.95);
}

.class2 {
    background-color: rgba(20, 59, 187, 0.85);
}

.class3 {
    background-color: rgba(70, 39, 31, 0.75);
}

.class4 {
    background-color: rgba(41, 71, 45, 0.65);
}
