header {
    height: 11vw;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 100;
}

.header-container {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* MENU */

.menu {
    width: 15%;
    height: 70%;
    background-color: lightgray;
    margin-left: 8vw;
    margin-bottom: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.index {
    width: 25vmax;
    height: 6vmax;
    margin-left: 10vw;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 24vmax;
}

.index-option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    /* background-color: peru; */
    background-image: url(/public/assets/right-questions-background.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: brightness(0.6);
    transition: all 500ms ease-in-out;
    font-size: 1.3vmax;
    color: rgb(122, 123, 105);
}

.index-option:hover {
    filter: brightness(1);
    scale: 103%;
    color: rgb(43, 44, 29);
}

.logo-container {
    height: 80%;
    width: 10%;
    cursor: pointer;
    position: absolute;
    top: -1.1vmax;
    left: 0vw;
    background-image: url(/public/assets/UI/menu-background.png);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.logo {
    height: 50%;
    width: 50%;
    /* background-color: red; */
    animation: spin 30s linear infinite;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo.aerial {
    background-image: url(/public/assets/orbs/orb-aerial.png);
}

.logo.aquatic {
    background-image: url(/public/assets/orbs/orb-aquatic.png);
}

.logo.terrestrial {
    background-image: url(/public/assets/orbs/orb-terrestrial.png);
}

.options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
}

.options div {
    cursor: pointer;
}

/* Menu Animation */

.options {
    animation: fadeInLeft 1s forwards;
}

.options.hidden {
    animation: fadeOutLeft 1s forwards;
}

/* Keyframes for the animations */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-10%);
    }
}

/* END Menu Animation */

/* END-MENU */

/* HUD */

.hud {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
    /* background-color: aquamarine; */
}

.level-bar {
    right: 10%;
    top: 10%;
    position: absolute;
    width: 22%;
    height: 50%;
    background-image: url('/public/assets/level-bar.png');
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.bar-interior-horizontal {
    height: 48%;
    background-color: rgb(41, 13, 21);
    background-image: url(/public/assets/UI/question-bar-background-horizontal.png);
    opacity: 100%;
    background-repeat: no-repeat;
    border-radius: 10px 50px 50px 10px;
    filter: blur(50%);
}

.data {
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pp-container {
    height: 100%;
    width: 100%;
    /* background-color: rgb(65, 31, 31); */
    background-image: url('/public/assets/character-frame.png');
    background-size: 100%;
    background-position-y: -30;
    background-repeat: no-repeat;
    color: white;
    margin-right: 4vmax;
}

.pp {
    height: 60%;
    width: 100%;
    /*background-image: url('/public/assets/pets/caterpillar-1-profile.gif');*/
    /* background-color: rgb(65, 31, 31); */
    border-radius: 50%;
    color: white;
    animation: breathe 2s ease-in-out infinite;
    transform-origin: center bottom;
}

.heart {
    position: absolute;
    top: 65%;
    width: 45%;
    height: 45%;
    background-image: url('/public/assets/UI/heart.gif');
    color: white;
    margin-right: 4vmax;
}

.heart span {
    margin-top: 20%;
    text-shadow: 3px 3px 5px black, -3px -3px 5px rgb(66, 79, 39), 0 0 30px rgba(0, 0, 0, 1);
    cursor: default;
}

/* END HUD */

/* START USER-STATS */

/* .currency {
    width: 25%;
    height: 25%;
    background-color: aqua;
} */

.level-bar-progress {
    height: 40%;
    width: 30%;
    /* background-color: blue; */
    color: rgb(216, 216, 203);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), -2px -2px 4px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8vmax;
    font-size: larger;
    position: absolute;
}

/* END USER-STATS */


@keyframes breathe {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.03);
    }
}