header {
    height: 10vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: fixed;
    z-index: 100;
}

.header-container {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
}

/* MENU */

.menu-options {
    width: 20%;
    height: 70%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
}

.menu-options div {
    cursor: pointer;
}

/* END-MENU */

/* HUD */

.hud {
    width: 30%;
    height: 100%;
    /* background-color: aquamarine; */
    justify-content: flex-end;
}

.level-bar {
    right: 5%;
    top: 25%;
    position: absolute;
    width: 25%;
    height: 30%;
    background-color: burlywood;
}

.data {
    position: relative;
    width: 30%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pp {
    height: 80%;
    width: 100%;
    background-color: rgb(65, 31, 31);
    border-radius: 50%;
    color: white;
}

.heart {
    position: absolute;
    top: 60%;
    width: 60%;
    height: 60%;
    background-image: url('/public/assets/UI/heart.gif');
    color: white;
}

.heart span {
    margin-top: 20%;
}

/* END HUD */