header {
    height: 11vw;
    width: 100vw;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    top: 0;
    position: fixed;
    z-index: 100;
}

.header-container {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
}

/* MENU */

.menu {
    width: 15%;
    height: 70%;
    background-color: lightgray;
    margin-left: 3vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.index {
    width: 15%;
    height: 70%;
    background-color: lightgray;
    margin-left: 10vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    position: absolute;
    top: 0;
    left: 2vw;
    background-color: gold;
    border-radius: 50%;
    height: 30%;
    width: 3%;
    cursor: pointer;
}

.options {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
}

.options div {
    cursor: pointer;
}

/* Menu Animation */

.options {
    animation: fadeInLeft 1s forwards;
}

.options.hidden {
    animation: fadeOutLeft 1s forwards;
}

/* Keyframes for the animations */
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-10%);
    }
}

/* END Menu Animation */

/* END-MENU */

/* HUD */

.hud {
    width: 30%;
    height: 100%;
    /* background-color: aquamarine; */
}

.level-bar {
    right: 11%;
    top: 10%;
    position: absolute;
    width: 22%;
    height: 50%;
    background-image: url('/public/assets/level-bar.png');
}

.data {
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pp-container {
    height: 100%;
    width: 100%;
    /* background-color: rgb(65, 31, 31); */
    background-image: url('/public/assets/character-frame.png');
    background-size: 100%;
    background-position-y: -30;
    background-repeat: no-repeat;
    color: white;
}

.pp {
    height: 80%;
    width: 100%;
    /*background-image: url('/public/assets/pets/caterpillar-1-profile.gif');*/
    /* background-color: rgb(65, 31, 31); */
    border-radius: 50%;
    color: white;
  }

.heart {
    position: absolute;
    top: 65%;
    width: 45%;
    height: 45%;
    background-image: url('/public/assets/UI/heart.gif');
    color: white;
}

.heart span {
    margin-top: 20%;
}

/* END HUD */