.popup {
    position: absolute;
    top: -2vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: 65% !important;
    background-color: rgba(32, 39, 31, 0.95);
}

.close-btn {
    width: 7vw;
    height: 10vw;
   position: absolute;
   right: 22vw;
   top: 16.5vh;
   background-image: url(/public/assets/UI/close-button.png);
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   background-color: transparent;
   border: none;
   transition: all 300ms ease-in-out;
}

.close-btn:hover {
    background-image: url(/public/assets/UI/close-button-active.png);
    scale: 103%;
    cursor: pointer;
}