.class5-popup {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: 65% !important;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class5-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(/public/assets/evolution-map.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.class5-h2 {
    font-size: 2.2vmax;
    margin: 0;
    position: absolute;
    top: 5%;
    left: 50.75%;
    transform: translateX(-50%);
}

.class5-h3 {
    font-size: 3vmax;
    color: rgb(82, 70, 56);
    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}


.class5-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #ffffff; */ /* Color de fondo del contenedor */
    border-radius: 10px;
    margin-top: 6%; 
    padding: 20px;
}

.index-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-class51 {
    margin: 10px;
    width: 500px;
    padding: 2.5% 20%; 
    font-size: 3vh; 
    color: #000000;
    background-image: url(/public/assets/UI/menu-option.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-class51:hover {
    background-color: rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}

.close-btn-class5 {
    width: 7vw;
    height: 10vw;
    position: absolute;
    right: 6.5vw;
    top: 4.5vh;
    background-image: url(/public/assets/UI/close-button.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transition: all 300ms ease-in-out;
}

.close-btn-class5:hover {
    background-image: url(/public/assets/UI/close-button-active.png);
    scale: 103%;
    cursor: pointer;
}

.center-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(/public/assets/evolution-map.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
