.teoric-rules-popup {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(/public/assets/backgrounds/questionnaire-start-frame.png), url(/public/assets/backgrounds/questionnaire-start-background.png);
    background-position: center 2vh, center;
    background-size: 45%, 100%;
    overflow: hidden;
}

.teoric-rules-content {
    width: 40vw;
    height: 80%;
    /* background-color: rgba(0.5, 0.5, 0.5, 0.5); */
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 5% auto;
}

.teoric-rules-text {
    width: 100%;
    height: 25%;
    /* background-color: blue; */
}

.teoric-rules-text h2 {
    width: 45%;
    height: 10%;
    /* background-color: white; */
    font-size: 2vmax;
    margin-top: 1vw;
}

.teoric-rules-text p {
    width: 70%;
    margin-left: 7vw;
    /* background-color: pink; */
    text-align: left;
    font-size: 1vw;
    margin-top: 1vw;
}

.teoric-rules-text-area {
    width: 65%;
    height: 32%;
    margin: 0;
    padding: 1vmax;
    margin: 0 auto;
    resize: none;
    /* background-color: white; */
}

textarea:focus {
    outline: none;
}

textarea::placeholder {
    font-style: italic;
  }
  

.teoric-rules-message {
    /* background-color: rgba(0.5, 0.5, 0.5, 0.5); */
    width: 100%;
    height: 100%;
    border: none;
}

.teoric-rules-submit {
    height: 11%;
    width: 12%;
    /* background-color: pink; */
    position: absolute;
    left: 28%;
    top: 78%;
    z-index: 99;
}

.submit-btn {
    transition: all 500ms ease-in-out;
    background-image: url(/public/assets/UI/button.png);
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    letter-spacing: 0.08vmax;
    color: rgb(65, 65, 53);
}

.submit-btn:hover {
    scale: 105%;
    cursor: pointer;
}

.close-btn-teoric-rules {
    width: 7vw;
    height: 10vw;
   position: absolute;
   right: 22vw;
   top: 15vh;
   background-image: url(/public/assets/UI/close-button.png);
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   background-color: transparent;
   border: none;
   transition: all 300ms ease-in-out;
}

.close-btn-teoric-rules:hover {
    background-image: url(/public/assets/UI/close-button-active.png);
    scale: 103%;
    cursor: pointer;
}