.card-content {
    width: 80%;
    height: 68%;
    /* background-color: red; */
    margin-bottom: 3vh;
}

/* START CARD */

.card {
    display: none;
    background-color: yellowgreen;
    width: 100%;
    height: 100%;
}

/* END CARD */

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
}

.close-btn-class1 {
    width: 7vw;
    height: 10vw;
    position: absolute;
    right: 6.5vw;
    top: 4.5vh;
    background-image: url(/public/assets/UI/close-button.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    transition: all 300ms ease-in-out;
}

.close-btn-class1:hover {
    background-image: url(/public/assets/UI/close-button-active.png);
    scale: 103%;
    cursor: pointer;
}

.center-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(/public/assets/evolution-map.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.library-arrows {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 353vw;
    margin-right: 1.1%;
    margin-top: 1.3%;
}

.arrow-left,
.arrow-right {
    width: 4vw;
    height: 15vh;
    background-image: url(/public/assets/arrows/left-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10.6%;
    cursor: pointer; 
    transition: all 300ms ease-in-out;
}

.arrow-right {
    transform: rotate(180deg);
}

.arrow-left:hover,
.arrow-right:hover {
    background-image: url(/public/assets/arrows/left-arrow.png);
    scale: 110%;
    cursor: pointer;
}