@font-face {
  font-family: 'BlackwoodCastle';
  src: url('/public/assets/fonts/BlackwoodCastle.TTF') format('truetype');
}

body {
  margin: 0;
  font-family: 'BlackwoodCastle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/Home.css */
.App {
  font-family: 'BlackwoodCastle', sans-serif;
  text-align: center;
  position: relative;
}

/* DEFAULT CLASSES */

.flex-s {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-e {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* CourseLevel */

textarea{
  border: none;
}

textarea:focus {
  border: none;
}

/* END CourseLevel */






