@font-face {
  font-family: 'BlackwoodCastle';
  src: url('/public/assets/fonts/BlackwoodCastle.TTF') format('truetype');
}

body {
  margin: 0;
  font-family: 'BlackwoodCastle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
